<template name="Play">
  <div class="jumbotron">
    <p>
        {{#with scenario}}
            {{scenarioDescription}}
        {{/with}}

      <br/>
        {{#with npCharacter}}
          The {{title}} says:
        {{/with}}

        {{#with npCharacterRequest}}
          &nbsp;"{{title}}"
        {{/with}}



      <br/>
      <br/>
      You Answer:

    <form id="playForm">


        {{#each playerResponses}}

          <div class="radio">
            <label>
              <input type="radio" name="playerResponsesRadio" value="{{objectCode}}">
                {{title}}
            </label>
          </div>


        {{/each}}
      <br/>
      <button id="playerResponseButton" class="btn btn-primary">Submit</button>

    </form>


    <br/>
    <br/>

    Your Score: {{userScore}}

    </p>

  </div>



</template>



